:root{
    --white: white;
    --hover: rgb(240, 240, 240);
    --black: black;
    --fon: rgb(230, 230, 230);
    --grey: rgb(140, 140, 140);
    --box-shodow: 0px 0px 37px 7px rgba(34, 60, 80, 0.26);
}


body{
    background-color: var(--fon);
    width: 100%;
}
.moon{
    border: none;
    width: 100px;
    height: 100px;
    background-color: rgb(9, 0, 32);
    position: fixed;
    z-index: 100;
    border-radius: 50%;
    box-shadow: 0px 0px 37px 7px rgb(96, 177, 253);
    left: -25px;
    top: -25px;
}
.moon:hover{
    width: 130px;
    height: 130px;
    transition: 0.3s;
}
.sun{
    display: none;
}
.head{
    height: 175px;
    width: 100%;
    text-align: center;
    background-color: var(--fon);
}
.five{
    display: inline-block;
    font-size: 110px;
    color: rgb(140, 140, 140);
    font-weight: 800;
}
.zero{
    display: inline-block;
    font-size: 100px;
    color: rgb(170, 170, 170);
    font-weight: 800;
}
.one{
    display: inline-block;
    font-size: 110px;
    color: rgb(88, 85, 235);
    font-weight: 800;
}
.qw{
    box-shadow: 0px 0px 37px 7px rgba(34, 60, 80, 0.26);
    background-color: var(--white);
}
.dropbtn {
    background-color: var(--white);
    color: black;
    padding: 16px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    width: 100%;
    
}
.dropdown{
    display: inline-block;
    margin-right: 0px;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    width: 80%;
    right: 10%;
    border: 1px solid rgb(240, 240, 240);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: var(--hover);}
.dropdown:hover .dropdown-content {display: block; transition: 1s;}
.dropdown:hover .dropbtn {background-color: var(--hover);}

.okno-btn {
    background-color: var(--white);
    color: black;
    padding: 3px 10px 5px 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 37px 3px rgba(34, 60, 80, 0.26);
    z-index: 1;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 5px;
}
.okno-p{
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 700;
}
.okno-p1{
    background-color: var(--white);
    padding: 10px 20px 10px 10px;
    box-shadow: var(--box-shodow);
    margin-left: 20px;

}
.pn{
    margin-bottom: -20px;
}
.zv{
    margin-bottom: -20px;
    font-size: 18px;
    font-weight: 600;
}
.yroki{
    margin-left: 20px;
}
.okno-btn:hover{
    background-color: var(--hover);
}
.okno {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    position: absolute;
}

.okno-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    border: 1px solid var(--hover);
    z-index: 2;
    box-shadow: 0px 0px 37px 7px rgba(34, 60, 80, 0.26);
}
.show {display:block;}

.lef{
    width: 300px;
    height: 50px;
    border: 1px solid var(--hover);
    border-radius: none;
    background-color: var(--white);
    color: var(--black);
}
.lef:hover{
    transition: 0.3s;
    font-size: 24px;
}

/*ВСЕ ЧТО ВЫШЕ ЛУЧШЕ НЕ ТРОГАТЬ*/

.telo{
    background-color: var(--fon);
    padding-bottom: 35px;
}
 
.body{
    background-color: var(--white);
    display: inline-block;
    margin-left: 330px;
    margin-top: 35px;
    box-shadow: 0px 0px 37px 7px rgba(34, 60, 80, 0.26);
    padding: 10px 10px 0px 15px;
}

.leg{
    width: 100%;
    background-color:rgb(43, 43, 43);
    text-align: center;
}
.vk{
    border-radius: 20px;
    width: 100px;
    height: 100px;
}
.vk1{
    display: inline-block;
    padding-right: 30px;
}
.tg{
    border-radius: 55%;
    width: 100px;
    height: 100px;
}
.tg1{
    display: inline-block;
    padding-left: 30px;
}
.sozdatel{
    color: var(--white);
    font-size: 24px;
    padding-top: 15px;
}
.vova{
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 30px;
}

.artyr{
    display: inline-block;
    padding-left: 40px;
}

::-webkit-scrollbar {
    width: 0;
  }
@media (max-width: 767px){
    .okno-content{width: 190px;}
    .okno-p{font-size: 14px;}
    .lef{width: 100%;}
    .body{margin-left: 210px;}
    .yroki{margin-left: 5px;}
    .okno-p1{margin-left: 0px;}
}